<div class="container">
    <h1>Client Information</h1>
    <table id="clientTable">
        <thead>
            <tr>
                <th>client name</th>
                <th>contact person</th>
                <th>phone no</th>
                <th>email</th>
                <th>feedback</th>
                <th>contracts</th>
            </tr>
            <tr>
                <td>Janani</td>
                <td><input type="text"> </td>
                <td><input type="phonenumber" >        </td>
                <td><input type="email"></td>
                <td><input type="text"></td>
                <td><input type="text"> </td>
                

            </tr>
            <tr>
                <td>hari</td>
                <td><input type="text" > </td>
                <td><input type="phonenumber" >        </td>
                <td><input type="email"></td>
                <td><input type="text"> </td>
                <td><input type="text"> </td>
                
            </tr>
            <tr>
                <td>sowmiya</td>
                <td><input type="text"> </td>
                <td><input type="phonenumber" >        </td>
                <td><input type="email"></td>
                <td><input type="text"></td>
                <td><input type="text"> </td>
                
            </tr>
            <tr>
                <td>mujamil</td>
                <td><input type="text"> </td>
                <td><input type="phonenumber" >        </td>
                <td><input type="email"> </td>
                <td><input type="text"> </td>
                <td><input type="text"> </td>
                
            </tr>
            <tr>
                <td>Arvind</td>
                <td><input type="text" > </td>
                <td><input type="phonenumber" >        </td>
                <td><input type="email"> </td>
                <td><input type="text"> </td>
                <td><input type="text"> </td>
                
            </tr>
            <tr>
                <td>venubabu</td>
                <td><input type="text" > </td>
                <td><input type="phonenumber" >        </td>
                <td><input type="email"> </td>
                <td><input type="text"> </td>
                <td><input type="text"> </td>
                
            </tr>
            <tr>
                <td>maya</td>
                <td><input type="text" > </td>
                <td><input type="phonenumber" > </td>
                <td><input type="email"> </td>
                <td><input type="text"> </td>
                <td><input type="text"> </td>
                
            </tr>
            <tr>
                <td>kiran</td>
                <td><input type="text"> </td>
                <td><input type="phonenumber" > </td>
                <td><input type="email"> </td>
                <td><input type="text">  </td>
                <td><input type="text">  </td>
            </tr>





        </thead>
        <!-- <a href="home"><button>Back to home</button></a> -->
        <a routerLink="home"><button>Back to home</button></a>