<div class="container">
    <h1>TASK COMPLETION</h1>
    <table id="taskTable">
        <thead>
            <tr>
                <th>Task name</th>
                <th>Assigned to</th>
                <th>completion date</th>
                <th>Status</th>
                </tr>
                <tr>
                    <td>task 1</td>
                    <td><input type="text"> </td>
                    <td><input type="date"></td>
                    <td class="radio-group">
                        <label><input type="radio" name="status" id="Completed" value="completed"> completed</label>
                        <label for="completed"></label><br>
                        <label><input type="radio" name="status" id="verified" value="verified"> verified</label>
                        <label for="verified"></label><br>
                    </td>
                    
                </tr>
                <tr>
                    <td>task 2</td>
                    <td><input type="text"> </td>
                    <td><input type="date"></td>
                    <td class="radio-group">
                        <label><input type="radio" name="status" id="Completed" value="completed"> completed</label>
                        <label for="completed"></label><br>
                        <label><input type="radio" name="status" id="verified" value="verified"> verified</label>
                        <label for="verified"></label><br>
                    </td>
                </tr>
                <tr>
                    <td>task 3</td>
                    <td><input type="text"> </td>
                    <td><input type="date"></td>
                    <td class="radio-group">
                        <label><input type="radio" name="status" id="Completed" value="completed"> completed</label>
                        <label for="completed"></label><br>
                        <label><input type="radio" name="status" id="verified" value="verified"> verified</label>
                        <label for="verified"></label><br>
                    </td>
                </tr>
                <tr>
                    <td>task 4</td>
                    <td><input type="text"> </td>
                    <td><input type="date"></td>
                    <td class="radio-group">
                        <label><input type="radio" name="status" id="Completed" value="completed"> completed</label>
                        <label for="completed"></label><br>
                        <label><input type="radio" name="status" id="verified" value="verified"> verified</label>
                        <label for="verified"></label><br>
                    </td>
                </tr>
                <tr>
                    <td>task 5</td>
                    <td><input type="text"> </td>
                    <td><input type="date"></td>
                    <td class="radio-group">
                        <label><input type="radio" name="status" id="Completed" value="completed"> completed</label>
                        <label for="completed"></label><br>
                        <label><input type="radio" name="status" id="verified" value="verified"> verified</label>
                        <label for="verified"></label><br>
                    </td>
                </tr>
                <tr>
                    <td>task 6</td>
                    <td><input type="text"> </td>
                    <td><input type="date"></td>
                    <td class="radio-group">
                        <label><input type="radio" name="status" id="Completed" value="completed"> completed</label>
                        <label for="completed"></label><br>
                        <label><input type="radio" name="status" id="verified" value="verified"> verified</label>
                        <label for="verified"></label><br>
                    </td>
                </tr>
                <tr>
                    <td>task 7</td>
                    <td><input type="text"> </td>
                    <td><input type="date"></td>
                    <td class="radio-group">
                        <label><input type="radio" name="status" id="Completed" value="completed"> completed</label>
                        <label for="completed"></label><br>
                        <label><input type="radio" name="status" id="verified" value="verified"> verified</label>
                        <label for="verified"></label><br>
                    </td>
                </tr>
                <tr>
                    <td>task 8</td>
                    <td><input type="text"> </td>
                    <td><input type="date"></td>
                    <td class="radio-group">
                        <label><input type="radio" name="status" id="Completed" value="completed"> completed</label>
                        <label for="completed"></label><br>
                        <label><input type="radio" name="status" id="verified" value="verified"> verified</label>
                        <label for="verified"></label><br>
                    </td>
                </tr>
        </thead>
<!-- <a href="home"><button>Back to home</button></a> -->

<a routerLink="home"><button>Back to home</button></a>        