<!-- <h1>Welcome to Manager Panel !!!</h1> -->
            <section>
                <nav>
                    <ul>
                        
                        <li><a href="clientinformation">Client Information</a></li>
                        <li><a href="addteammember" >Add Team Member</a></li>
                        <li><a href="projectdetails" >Project details</a></li>
                        <li><a href="taskcompleted" >Task completed</a></li>
                        <li><a href="effortinvested" >Effort Invested</a></li>
                       
                    </ul>
                </nav>
            </section>